.container {

  margin: 0px auto;
}

.about {
  text-align: left;
}

.goals h2 {
  text-align: right;
}

.heading h2 {
  font-size: 50px;
  font-weight: 600;
  background-image: radial-gradient(ellipse, #56CCF2, #2F80ED);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-top: 25px;
  margin-bottom: 40px;
}

.heading2 h2 {
  font-size: 70px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 40px;
  color: white;
  text-align: center;
}

.about p,
.goals p {
  font-size: 1.2em;
  margin-bottom: 20px;
  line-height: 1.6em;
}

.education-section {
  background: linear-gradient(90deg, #56CCF2, #2F80ED);
  padding: 20px;
  color: #fff;

}

.education-card {
  background-color: white;
  color: black;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  position: relative;


  .education-info {
    padding-top: 20px;

    h3 {
      font-size: 18px;
      margin: 10px 0;
    }

    p {
      font-size: 14px;
      margin: 5px 0;
    }
  }

  .label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 16px;
    background: linear-gradient(90deg, #56CCF2, #2F80ED);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 5px;
    left: -20px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    width: 121px;

    span {

      color: black;
      font-size: 15px;
    }
  }
}