<div class="education-section">
  <div class="container">
    <div class="row justify-content-evenly"> 
    <div class="heading2 col-md-12">
      <h2> My Education</h2>

    </div>
  <div class="education-card col-lg-5 col-md-5 col-sm-12 ">
    <div class="education-info">
      <h3>Web development Course</h3>
      <p>Chetana College Bandra </p>
    </div>  
    <div class="label-container">

      <span class="date-range label">2023 - 2024</span>
      </div>  
  </div>
  <div class="education-card col-lg-5 col-md-5 col-sm-12">
    <div class="education-info">
      
      <h3>BSC IT Course</h3>
      <p>Chetana College Bandra , Mumbai University</p>
      <p>With 9.08 CGPI</p>
    </div>
    <div class="label-container">

      <span class="date-range label">2021 - 2024</span>
    </div>
  </div>
  <div class="education-card col-lg-5 col-md-5 col-sm-12">
    <div class="education-info">
    <h3>Advance Excel</h3>
    <p>S-TEK IT Education</p>
    <p>With A grade</p>
    </div>  
    <div class="label-container">

      <span class="date-range label">2022</span>
      </div>  
  </div>
  <div class="education-card col-lg-5 col-md-5 col-sm-12">

    <div class="education-info">
      <h3>HSC In Commerce</h3>
      <p>Abhyankar Kulkarni Junior College Ratnagiri , Konkan Divisional Board</p>
      <p>With 83.67 %</p>
    </div>
    <div class="label-container">

      <span class="date-range label">2020 - 2021</span>
      </div>  
  </div>
  <div class="education-card col-lg-5 col-md-5 col-sm-12">
    <div class="education-info">
    <h3>MSC IT</h3>
    <p>Maharashtra State Board of Technical Education</p>
    </div>  
    <div class="label-container">
  
      <span class="date-range label">    2019</span>
      </div>
  </div>
  <div class="education-card col-lg-5 col-md-5 col-sm-12">
    <div class="education-info">
      <h3>SSC</h3>
      <p>Konkan Divisional Board</p>
      <p>With 79.60 %</p>
    </div>  
    
    <div class="label-container">

      <span class="date-range label">2018 - 2019</span>
      </div>
  </div>
</div> 
</div> 
 
</div>
<div class="container">
    <section class="about">
      <div class="heading">
        <h2>About Me</h2>

      </div>

      <p>
        I Pooja, a 2024 graduate from Chetana College with a BSc in IT. As a passionate web developer, I specialize in crafting beautiful and functional websites. With a solid foundation in HTML, CSS, and JavaScript, I have successfully built a diverse range of projects, from small business websites to complex web applications.
      </p>
      <p>
        My journey into web development started at a young age, and over the years, I have honed my skills in various front-end and back-end technologies. I am always eager to learn new things and take on challenges that push my boundaries.
      </p>
      <p>
       
      </p>
    </section>
    <section class="goals">
      <div class="heading">
        <h2>My goals</h2>

      </div>
        <p>
          In the long term, I aspire to lead innovative projects, collaborate with dynamic teams, and stay ahead of emerging trends in web development.
          
          I am committed to lifelong learning, with plans to expand my expertise in building data-driven applications.
        </p>
       
        <p>
          As a passionate and dedicated web developer, I aim to continuously enhance my skills and contribute to building impactful, user-centered digital solutions.
  
          Constantly improve my expertise in front-end and back-end technologies, staying updated with the latest trends and best practices.
        </p>
    </section>
    
</div>  

<!-- <app-projects></app-projects>     -->
<app-project></app-project>
