<div class="container">
    <div class="heading">
        <h2>My Work Experience</h2>
    </div>
    <div class="step-wrapper move-line">
        <!-- Steps -->
        <article class="linestep linestep1" style="left: 50%; top: 0%;">
            <div class="work1">
              <span class="num-right">
                <fa-icon [icon]="faBriefcase"></fa-icon> <!-- Briefcase icon -->
              </span>
              <p class="right">
                TO : Working in <a href="https://ngauge.co.in/">NGUAGE Company</a> As a Frontend Developer
              </p>
            </div>
          </article>
          
          <article class="linestep linestep2" style="left: 50%; top: 12.5%;">
            <div class="work2">
              <span class="num-left">
                <fa-icon [icon]="faGraduationCap"></fa-icon> <!-- Graduation Cap icon -->
              </span>
              <p class="left">
                FROM : Building College Projects
              </p>
            </div>
          </article>
         
        <!-- SVG for line -->
        <svg width="100%" height="350px" xmlns="http://www.w3.org/2000/svg">
            <line class="path" x1="50%" y1="87.5%" x2="50%" y2="0%" stroke="#0a8eb8" stroke-width="2" /> <!--opacity="0.5" -->
        </svg>
    </div>
</div>