<div class="marquee">
    <div class="heading2">
        <h2>My Projects</h2>
    </div>
    <div class="marquee-inner">
        <div class="project">
            <div class="img">
        <img src="https://images.unsplash.com/photo-1719268921855-d2897ed6e91f?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MjE2NzI0Mjl8&ixlib=rb-4.0.3&q=85" alt="Image 5">

            </div>
            <div class="data">
                <div class="name">
                    College library website
                </div>
                <div class="link">
                    <a href="https://github.com/poojakamble01/Library-WebApp.git"> click here </a>
                </div>
            </div>
        </div>
        <div class="project">
            <div class="img">
        <img src="https://images.unsplash.com/photo-1719268921855-d2897ed6e91f?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MjE2NzI0Mjl8&ixlib=rb-4.0.3&q=85" alt="Image 5">

            </div>
            <div class="data">
                <div class="name">
                   bueuty Website 
                </div>
                <div class="link">
                    <a href="https://github.com/poojakamble01/website1.git">click here</a>
                </div>
            </div>
        </div>
        <div class="project">
            <div class="img">
        <img src="https://images.unsplash.com/photo-1719268921855-d2897ed6e91f?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MjE2NzI0Mjl8&ixlib=rb-4.0.3&q=85" alt="Image 5">

            </div>
            <div class="data">
                <div class="name">
                 TODO project
                </div>
                <div class="link">
                   <a href="https://github.com/poojakamble01/TODO-.git"> click here </a>
                </div>
            </div>
        </div>
        <div class="project">
            <div class="img">
        <img src="https://images.unsplash.com/photo-1719268921855-d2897ed6e91f?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MjE2NzI0Mjl8&ixlib=rb-4.0.3&q=85" alt="Image 5">

            </div>
            <div class="data">
                <div class="name">
                    Pure-JS-Counter-App
                </div>
                <div class="link">
                   
                    <a href="https://github.com/poojakamble01/Pure-JS-Counter-App.git"> click here </a>
                </div>
            </div>
        </div>
    </div>
</div>
