.heading2 h2 {
    font-size: 70px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 40px;
  color: white;
  text-align: center;
  }
  .pdf{
    background: linear-gradient(90deg, #56CCF2, #2F80ED);
  }